<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XFCVLNJPD7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XFCVLNJPD7");
    </script>

    <!-- content (HTML5) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta name="subject" content="Corey David for Scarborough Southwest'" />
    <meta name="copyright" content="Digital Designers" />
    <link
      rel="shortcut icon"
      href="https://corey-david.ca/favicon.ico"
      type="image/x-icon"
    />
    <link rel="canonical" href="{{ metadata.url }}" itemprop="url" />
    <meta
      name="keywords"
      content="Corey David, City Council, Scarborough Southwest"
    />

    <!-- favicons (favicon.ico) -->
    <meta name="theme-color" content="#ff0015" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />

    <!-- 11ty (11ty.dev) -->
    <title>{{ title }}</title>
    {% include "components/metadata.njk" %}

    <!-- styles (CSS) -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

    <!-- verification (verify) -->
    <meta name="yandex-verification" content="" />
    <meta name="p:domain_verify" content="" />
  </head>
  <body>
    {% include "components/navbar.njk" %}
    <main>{{ content }}</main>
    {% include "components/footer.njk" %}
  </body>
</html>
