<header>
  <nav>
    <div class="logo">COREY</div>

    <div class="nav-list">
      <a href="/"></a>
      <a href="/about">about</a>
      <a href="https://municipal.socialistalliance.ca/program">program</a>
      <a href="/news">news</a>
    </div>
  </nav>
</header>
